<div class="container authforms pagecontainer">
    <div class="row">
        <div class="col-6">
            <form action="/log-in" method="POST">
                <label>
                    <input type="email" name="email" placeholder="example@cryptoapp.com" class="form-control">
                </label>
                <label>
                    <input type="password" name="password" placeholder="Type your password..." class="form-control">
                </label>
                <button class="btn btn-primary">Log-in</button>
            </form>
        </div>
    </div>
</div>