<div class="container">
    <div class="container pagecontainer">
        <div class="row display-flex">
            {{#if infoMessage}}
            <div class="infoMessage" id="infoMessage">
                {{infoMessage}}
            </div>
            {{/if}}

            <div class="login-box">
                <h2>Login</h2>
                <form class='login-form' action="/log-in" method="POST">
                    <div class="user-box">
                        <label>
                            <input type="email" name="email" placeholder="example@cryptoapp.com" class="form-control">
                        </label>
                    </div>
                    <div class="user-box">
                        <label>
                            <input type="password" name="password" placeholder="Type your password..."
                                class="form-control">
                        </label>
                    </div>
                    <button class="btn btn-primary">Log-in</button>
                </form>
            </div>
            {{#if errorMessage}}
            <div class="warnMessage" id="warnMessage">
                {{errorMessage}}
            </div>
            {{/if}}
        </div>
    </div>
</div>