<div class="container authforms pagecontainer">
    <div class="row">
        <div class="col-6">
            <form action="/sign-up" method="POST">
                <label for="email">Email
                    <input type="email" name="email" placeholder="example@cryptoapp.com" class="form-control">
                </label>
                <label for="username">Username
                    <input type="username" name="username" placeholder="Username" class="form-control">
                </label>
                <label for="name">Name
                    <input type="text" name="name" placeholder="Your name" class="form-control">
                </label>
                <label for="description">Description
                    <input type="text" name="description" placeholder="Profile description" class="form-control">
                </label>
                <label for="image">Image URL
                    <input type="text" name="image" placeholder="Your image url" class="form-control">
                </label>
                <label for="password">Password
                    <input type="password" name="password" placeholder="Type your password..." class="form-control">
                </label>
                <button class="btn btn-primary">Sign-up</button>
            </form>
        </div>
    </div>
</div>