<div class="container">
    <div class="container pagecontainer">
        <div class="row display-flex">

            <div class="signup-box ">

                <h2>Sign up</h2>

                <form action="/sign-up" method="POST" class="display-flex">
                    <div class="row ">
                        <div class="col-12">
                            <label for="email">Email
                                <input type="email" name="email" placeholder="example@cryptoapp.com"
                                    class="form-control" autocomplete="off">
                            </label>
                            <label for="username">Username
                                <input type="username" name="username" placeholder="Username" class="form-control"
                                    autocomplete="off">
                            </label>
                            <label for="name">Name
                                <input type="text" name="name" placeholder="Your name" class="form-control"
                                    autocomplete="off">
                            </label>
                        </div>
                        <div class="col-12">
                            <label for="description">Description
                                <input type="text" name="description" placeholder="Profile description"
                                    class="form-control" autocomplete="off">
                            </label>
                            <label for="image">Image URL
                                <input type="text" name="image" placeholder="Your image url" class="form-control"
                                    autocomplete="off">
                            </label>
                            <label for="password">Password
                                <input type="password" name="password" placeholder="Type your password..."
                                    class="form-control" autocomplete="new-password">
                            </label>

                        </div>
                        <button class="btn btn-primary">Sign-up</button>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>