<div class="row main justify-content-center">
    <div class="col-9 knowledgearticles d-flex align-items-center justify-content-center flex-column">
        <h2>What is a crypto?</h2>
        <img src="https://s2.coinmarketcap.com/static/img/coins/200x200/1.png" alt="">
        <span class="infoDescription">
            Simply stated, a cryptocurrency is a new form of digital money. You can transfer your traditional,
            non-cryptocurrency
            money like the U.S. dollar digitally, but that’s not quite the same as how cryptocurrencies work. When
            cryptocurrencies
            become mainstream, you may be able to use them to pay for stuff electronically, just like you do with
            traditional
            currencies.
        </span>
    </div>
</div>