<div class="row main justify-content-center">
    <div class="col-9 knowledgearticles d-flex align-items-center justify-content-center flex-column">
        <h2>Risks of cryptocurrency</h2>
        <img src="https://assets.cmcmarkets.com/images/what-are-risks-843w.jpg" alt="">
        <span class="infoDescription">
            ust like anything else in life, cryptocurrencies come with their own baggage of risk. Whether you trade
            cryptos, invest
            in them, or simply hold on to them for the future, you must assess and understand the risks beforehand. Some
            of the most
            talked-about cryptocurrency risks include their volatility and lack of regulation. Volatility got especially
            out of hand
            in 2017, when the price of most major cryptocurrencies, including Bitcoin, skyrocketed above 1,000 percent
            and then came
            crashing down. However, as the cryptocurrency hype has calmed down, the price fluctuations have become more
            predictable
            and followed similar patterns of stocks and other financial assets.
            Regulations are another major topic in the industry. The funny thing is that both lack of regulation and
            exposure to
            regulations can turn into risk events for cryptocurrency investors.
        </span>
    </div>
</div>