<div class="row main justify-content-center">
    <div class="col-9 knowledgearticles d-flex align-items-center justify-content-center flex-column">
        <h2>What is a Crypto wallet?</h2>
        <span class="infoDescription">
            The coins exist on a blockchain and the wallet software allows you to interact with the balances held on
            that
            blockchain. The wallet itself stores addresses and allows their owners to move coins elsewhere while also
            letting others
            see the balance held at any given address.

            To receive funds, you need to retrieve an address (also known as a public key) from your wallet. Locate the
            "generate
            address" feature in your wallet, click it, then copy the alphanumeric address or QR code and share it with
            the person
            who wants to send you crypto.
            To send funds, you need the address of the receiving wallet. Locate the "send" feature in your wallet and
            enter an
            address of the wallet you intend to send coins to. Select the amount of crypto you'd like to send, and click
            "confirm."
            Consider sending a small test transaction before sending large amounts of crypto. Note that sending coins
            requires a fee
            that will be paid to miners in exchange for processing the transaction.
        </span>
        <img src="https://i.insider.com/615b5969b414c1001863adb0?width=1000&format=jpeg&auto=webp" alt="">
    </div>
</div>