<div class="container pagecontainer d-grid align-items-center ">
    <div class="row justify-content-center">
        <div class="col-8 text-center">
            <h2>Website created by Ana Sánchez & Jean Carlo</h2>
            <hr>
            <h3>Our Githubs:
                <ul class="contactList">
                    <li>
                        <a href="https://github.com/anasanmua">https://github.com/anasanmua</a>
                    </li>
                    <li>
                        <a href="https://github.com/VmMad">https://github.com/VmMad</a>
                    </li>
                </ul>
            </h3>
        </div>
    </div>
</div>