<div class="">
    <div class="row">
        <div class="col">
            <h2>HELLO</h2>
            <h2>HELLO</h2>
            <h2>HELLO</h2>
            <h2>HELLO</h2>
            <h2>HELLO</h2>
        </div>
    </div>
</div>