<div class="container home-container">
    <h2>The CryptoApp you were looking for</h2>
    <div class="row home-display-flex">
        <div class="col-4">
            <div class="card home-card" style="width: 18rem;">
                <img src="https://www.esan.edu.pe/images/blog/2017/09/08/1500x844-bitcoin.jpg" class="card-img-top"
                    alt="crypto-image">
                <div class="card-body home-card-body">
                    <h5 class="card-title">Do you really know what cryptocurrency is?</h5>
                    <a href="/log-in" class="btn btn-primary">More info</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card home-card" style="width: 18rem;">
                <img src="https://s3.amazonaws.com/media.al-fanarmedia.org/wp-content/uploads/2021/01/26160334/source-Hoyes1.jpg"
                    class="card-img-top" alt="crypto-image">
                <div class="card-body home-card-body">
                    <h5 class="card-title">Do you really know what blockchain is?</h5>
                    <a href="/log-in" class="btn btn-primary">More info</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card home-card" style="width: 18rem;">
                <img class='rebel-image'
                    src="https://i0.wp.com/itusers.today/wp-content/uploads/2018/01/Cryptos-Fund-esta%CC%81-Ahora-Abierto-a-Inversores.jpg?fit=800%2C512&ssl=1"
                    class="card-img-top" alt="crypto-image">
                <div class="card-body home-card-body">
                    <h5 class="card-title">Do you really know what are all the benefits of investing in cryptocurrency?
                    </h5>
                    <a href="/log-in" class="btn btn-primary">More info</a>
                </div>
            </div>
        </div>

    </div>
</div>