*{
  margin: 0;
  padding: 0;
}


nav{
  position: absolute;
  width: 100%;
  min-height: 60px;
  border-bottom: 1px solid white;
}

a{
  color: #01c7d1;
  text-decoration: none;
}

.pagecontainer{
  height:100%;
}
.nav-link{
  margin: 0 10px;
}

.home{
  margin-left: 0;
}


.warnMessage {
  background-color: black;
  color: #03e9f4;
  font-weight: bolder;
  text-align: center;
  margin: 10px;
}

.infoMessage {
  background-color: blue;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.logoutbtn{
  background-color: black;
  border: 0;
}

.contactList{
  list-style: none;
}

.contactcol{
  list-style-position:inherit;
}

.background{
  color: white;
  min-height: 90vh;
  width: 100%;
  background: url("https://i.imgur.com/DO7bYCt.png") no-repeat right bottom,linear-gradient(#141e30, #243b55);
  background-size: 400px, auto;
}




fieldset {
  margin: 10px;
}

legend{
  padding-left: 0px !important; 
  
}

.main{
  width: 100%;
  height: 100%;
}

.knowledgequestions ul{
  list-style: none;
}

.knowledgearticles{
  border: 2px solid #8dc0ff;
  padding: 80px 30px;
  margin: 60px 0;
  border-radius: 5px;
}
.knowledgearticles h2{
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
}

.infoDescription{
  text-align: center;
  margin-top: 20px;
}

footer {
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  border-top: 2px solid #2f4a69;
  background: linear-gradient(#141e30, #243b55);
  height: 200px;
}
.title span{
padding-left: 20px;
}

.footerrow{
  margin-top: 30px;
  width: 100%;
}

.socials ul{

  list-style: none;  
  list-style-position: inherit;
}

/* Log in */


.display-flex{
  display: flex;
  justify-content: space-evenly;
}

.login-box {

  width: 50%;
  height: 350px;
  padding: 40px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box label {
  width: 100%;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0 10px 10px;
  font-size: 16px;
  color: #03e9f4;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  font-weight: 500;
  
}
.login-box input:focus {
   box-shadow: 0 0 0 0rem;
}

.login-box button {
  margin-bottom: 10px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  background-color: transparent;
  border: none;
}

.login-box button:focus{
 background-color: transparent;
}

.login-box button:hover{
 background-color: transparent;
 border: 1px solid #03e8f470;
}

/* Market Data */
.marketData{
  color: #fff;
}

.profilecard{
  color: white;
  padding: 30px;
  background-color: rgba(255,255,255,0.08);
  width: 80%;
  border: 1px solid #ffffff;
  border-radius: 10px;
  height: 80vh;
}
.profilecard img{
  border-radius: 50%;
  object-fit: cover;
  width: 100px;
  height: 100px;
}


.profilecard h5{
  font-weight: 700;
  letter-spacing: 1px;
}

.cardbtn{
  margin-top: 20px;
  font-size: 1em;

}

.carddesc{
  text-align: center;
  margin-left: 30px;
  margin-bottom: 50px;
}
.cryptocard{
  border:1px solid black;
  border-radius: 10px;
  height:50px;

}

.news-card{
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  max-height: 450px;
  margin: 30px 10px;
  box-shadow: 1px 1px 8px rgba(255,255,255,.5);
  justify-content: center;
}

.news-card-body{
  text-align: center;
}
.news-card-body a{
  justify-content: center;
  color: #01c7d1;
  font-weight: 500;
  text-decoration: none;
}

.news-card-body a:hover{

  color: #06f3ff;

}

.tipCard{
  display:flex ;
  flex-direction: column;
  width: 80%;
  word-wrap:break-word;
  border: 1px solid #4b79ad;
  border-radius: 10px;
  margin: 20px 0;
  padding:20px;
}

.tipCard img{
  width: 25%;
}

.news-card img{
width: 100%;
}

.cryptoview{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border:1px solid gray;
  border-radius: 10px;
  height: 50px;
}
.newsbtns{
  padding-bottom: 30px;
  flex-wrap:wrap;
  width: 500px;
}
.submit-tip{
  margin-top: 20px;
}

.create-tip-form input{
  margin-bottom:20px;
}

.tipform{
  width: 80%;
  height: 100%;
}


.display-none{
  display: none;
}

.descriptionMessage{
  color: rgba(214, 59, 59, 0.774);
  animation-name: dissapear;
  animation-duration: 4500ms;
  animation-fill-mode: forwards;
}

.tipspage a{
  margin-top: 20px;
}

.tipspage button{
  margin-bottom: 20px;
  position: absolute;
  left: 17%;
}

.btndeletetip{
  margin-bottom: 10px;
}

.btnedittip a{
  position: absolute;
  right: 15%;
  transform: translate(-50%, -80%);
}

@keyframes dissapear {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }
  
  50%{
    opacity: 1;
  }
  75%{
    opacity: 1;

  }
  100% {
    display: none;
    opacity: 0;

  }
}

#warnMessage, #infoMessage {
  animation-name: dissapear;
  animation-duration: 4500ms;
  animation-fill-mode: forwards;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #03e9f4;
  -webkit-text-fill-color: #03e9f4;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
  
}