*{
  margin: 0;
  padding: 0;
}


nav{
  position: absolute;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid white;
}
.pagecontainer{
  height:100%;
}
.nav-link{
  margin: 0 10px;
}

.home{
  margin-left: 0;
}


.warnMessage {
  background-color: red;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.infoMessage {
  background-color: blue;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.logoutbtn{
  background-color: black;
  border: 0;
}

.contactList{
  list-style: none;
}

.margintop{
  height: 110vh;
  padding-top: 60px;
  width: 100%;
  background: linear-gradient(#141e30, #243b55);
}

.margintop > :first-child{
  color: white;

}

.main{
  padding-top: 10px;
  width: 100%;
}

.knowledgequestions ul{
  list-style: none;
}

.knowledgearticles{
  border: 2px solid #8dc0ff;
}
.knowledgearticles h2{
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
}

.infoDescription{
  text-align: center;
  margin-top: 20px;
}

footer {
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  border-top: 2px solid #2f4a69;
  background: linear-gradient(#141e30, #243b55);
  height: 200px;
}
.title span{
padding-left: 20px;
}

.footerrow{
  margin-top: 30px;
  width: 100%;
}

.socials ul{

  list-style: none;  
  list-style-position: inherit;
}


@keyframes dissapear {
  0% {
    transform: rotateX(90deg);
  }

  50% {
    opacity: 1;
    transform: rotateX(0deg);
  }

  100% {
    display: none;
    opacity: 0;
    transform: rotateX(90deg);
  }
}

#warnMessage, #infoMessage {
  animation-name: dissapear;
  animation-duration: 2500ms;
  animation-fill-mode: forwards;
}