*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
}
.pagecontainer{
  padding-top:20px;
  height: 100vh;
}
.nav-link{
  margin-left: 15px;
}

.home{
  margin-left: 0;
}

.authforms{
  height: 91.8vh
}