<div class="row main justify-content-center">
    <article class="col-6 text-center">
        <h4>Here you can learn about cryptocurrencies and read news.</h4>
        <hr>
        <section class="row knowledgequestions">
            <ul class="col-6 main-page-links">
                <li>
                    <a href="/knowledge/crypto">
                        What is a crypto?
                    </a>
                </li>
            </ul>
            <ul class="col-6 main-page-links">
                <li>
                    <a href="/knowledge/blockchain">
                        What is a blockchain?
                    </a>
                </li>
            </ul>
        </section>
    </article>
</div>