<div class="container d-flex justify-content-center align-items-center">
    <button class="btn btn-outline-primary prevnews">
        << </button>
            <div class="row justify-content-center">
                {{#each news}}
                {{>newsCard}}
                {{/each}}
            </div>
            <button class="btn btn-outline-primary nextnews">>></button>
</div>