<div class="container authforms pagecontainer">
    <div class="row justify-content-center">
        <div class="col-9 d-flex justify-content-center">
            <div class="login-box tipform">
                <form action="/tips-to-invest/create" method="POST"
                    class="d-flex flex-column text-center create-tip-form">
                    <div class="user-box">
                        <label for="title">Title
                            <input type="text" name="title" class="form-control">
                        </label>
                        <label for="description">Description (at least 100 characters)
                            <input type="text" name="description" class="form-control">
                        </label>
                        {{#if descriptionMessage}}<div class="descriptionMessage">{{descriptionMessage}}</div>{{/if}}
                        <label for="image">Image
                            <input type="text" name="image" class="form-control">
                        </label>
                        <button class="btn btn-primary submit-tip">Submit tip</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>