<div class="contain">
    <a href="/tips-to-invest/create">
        <button class="btn btn-outline-primary">Create</button>
    </a>
    {{#each tipList}}
    <div class="tipCard">
        <p>{{title}}</p>
        <p>{{description}}</p>
        <p>{{image}}</p>
    </div>
    {{/each}}
</div>